header{
    height: 120px;
    margin: 0;
    padding-top: 5px;
    background-image:url(fond_valider.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


footer{
    position:absolute;
    bottom:0;
    color:#244875;
    height:100px;
    width:100%;
    margin: 0;
    padding-top: 5px;
    background-image:url(fond_valider.jpg);
}

h1{
    font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
    font-size:60px;/* taille de police */
    color:white;;/* couleur de police noir */
    margin-bottom:20px; /* ajouter une marge sous le texte de */
    }

h2{
    font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
    font-size:30px;/* taille de police */
    color:#111(216, 199, 199);/* couleur de police noir */
    margin-bottom:40px; /* ajouter une marge sous le texte  */
    margin: 30px;
}

.Reussite{
    text-align: center;
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px; 
    margin-top: -100px;
}