header{
    height: 120px;
    margin: 0;
    padding-top: 5px;
    background-image:url(fond_panier.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1{
    font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
    font-size:60px;/* taille de police */
    color:white;;/* couleur de police noir */
    margin-bottom:20px; /* ajouter une marge sous le texte de */
    }

h2{
    font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
    font-size:30px;/* taille de police */
    color:#111(216, 199, 199);/* couleur de police noir */
    margin-bottom:40px; /* ajouter une marge sous le texte  */
    margin: 30px;
}

#searchthis #search {
    background-color: #244875;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 2px;   /* Epaisseur de la bordure  */
    border-color: black;   /* Couleur de la bordure  */
    color: white;
    font-family:Lato;   /* Police du texte */
    font-size: 12px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
}

#searchthis #search-btn {
    background-color: #E8B960;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 2px;   /* Epaisseur de la bordure  */
    border-color: #204060;   /* Couleur de la bordure  */
    box-sizing: border-box;   /* Important */
    font-family: Lato;   /* Police du texte */
    font-size: 12px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
    text-transform: uppercase;
}

#searchthis #search-btn:hover {
    background-color: #204060;   /* Couleur de fond */
    color: #E8B960;   /* Couleur du texte */
    cursor: pointer;   /* Apparence du curseur comme pour un lien */
}

.choix {
    margin: 0px;
    color: #204060;
}

.mobile{
    margin-top:39px;
    width: 250px;
    height: 600px;
    background-color: #c6d9ec;
    float: left;

}
.nous{
    position:absolute;
    margin-left: 5%;
    height: 20px;
    bottom:40px;
    width:800px;
}

.annuler{
    float:right;
    margin-right: 40px;
     margin: 3%;
}
.corps{
    margin-top:39px;
    height:600px;
    color:#204060;
}

img{
    object-fit: cover;
    height: 230px;
    margin:50px;
}

.indent{
    text-indent: 100px;
}

.word_space {
    word-spacing: 370px;
}

.word_space2 {
    word-spacing: 350px;
    font-size:20px;
    color: #3973ac;
}
.promotions{
    margin-top: 20px;
}

.Recapitulatif{
    float: center;
    margin: 5%;
    margin-left: 50%;
}
.prix{
    color: #204060;
    margin: 100px;
    margin-left: 45%;
}

footer{
    position:absolute;
    bottom:0;
    color:#244875;
    height:100px;
    width:100%;
    margin: 0;
    background-color: #E8B960;
}