header{
    height: 170px;
    margin: 0;
    padding-top: 5px;
    background-image:url(fond.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1{
    font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
    font-size:60px;/* taille de police */
    color:white;/* couleur de police noir */
    margin-bottom:20px; /* ajouter une marge sous le texte de */
    }

h2{
    font-family:"trebuchet ms"; /* famille de police "trebuchet ms" */
    font-size:30px;/* taille de police */
    color:#111(216, 199, 199);/* couleur de police noir */
    margin-bottom:40px; /* ajouter une marge sous le texte  */
    margin: 30px;
    }


.marecherche{
   position:absolute;
   margin-left:85%; /* Centre = 50% de la largeur du conteneur */
   left:-25px;  /* Style de la bordure  */
   border-width: 1px;   /* Epaisseur de la bordure  */
   border-color: #dddddd;   /* Couleur de la bordure  */
}

#searchthis #search {
    background-color: #244875;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 2px;   /* Epaisseur de la bordure  */
    border-color: black;   /* Couleur de la bordure  */
    color: white;
    font-family:Lato;   /* Police du texte */
    font-size: 12px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
}

#searchthis #search-btn {
    background-color: #E8B960;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 2px;   /* Epaisseur de la bordure  */
    border-color: #204060;   /* Couleur de la bordure  */
    box-sizing: border-box;   /* Important */
    font-family: Lato;   /* Police du texte */
    font-size: 12px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 1px;   /* Espacement des caractères */
    text-transform: uppercase;
}

#searchthis #search-btn:hover {
    background-color: #204060;   /* Couleur de fond */
    color: #E8B960;   /* Couleur du texte */
    cursor: pointer;   /* Apparence du curseur comme pour un lien */
}

footer{
    position:absolute;
    bottom:0;
    height:100px;
    width:100%;
    margin: 0;
    background-color: #9fbfdf;
}
.choix {
    margin: 0px;
    color: #204060;
}

.mobile{
    margin-top:39px;
    width: 250px;
    height: 600px;
    background-color: #c6d9ec;
    float: left;

}
.nous{
    position:absolute;
    height: 40px;
    bottom:40px;
    width:800px;
}
.corps{
    margin-top:39px;
    height:600px;
    color:#204060;
}

img{
    object-fit: cover;
    height: 230px;
    margin:50px;
}

.indent{
    text-indent: 80px;
}

.word_space {
    word-spacing: 370px;
}

.word_space2 {
    word-spacing: 260px;
    font-size:20px;
    color: #3973ac;
}
.promotions{
    margin-top: 20px;
}
